/* index.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fdf9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
